/*  ELEMENTOS DEL MENU SUPERIOR */
 
#menu {
  padding:0;
  margin:0 auto;
  list-style-type:none;
  height:120px;
  width:14px;
  }
#menu li a {
  width:30px;
  height:120px;
  float:left;
  border-right:2px solid #fff;
  overflow: hidden;
  }
#menu li a img {
  border:0;
  }
#menu li a:hover {
  background:#eee;
  width:160px;
  }

  /*  ELEMENTOS DEL MENU LATERAL  */
 
#menu {
  padding:0;
  margin:0 auto;
  list-style-type:none;
  width:160px;
  height:312px;
  }
#menu li a {
  height:30px;
  width:160px;
  float:left;
  border-bottom:2px solid #fff;
  overflow: hidden;
  }
#menu li a img {
  border:0;
  }
#menu li a:hover {
  height:120px;
  }
 