.header{
	background-color:#FDBAAB;
	text-align:center;
	margin:20px;
	padding: 30px;
}

.header h1{
	color: white;
	font-size:60px;
}

.header p{
	font-family: "Arial";
	color:white;
}

.menu {
	background-color: #FDCAAB;
	overflow: hidden;
	margin:20px;
}

.menu a{
	float: left;
	display: block;
	color:black;
	display: block;
	text-align: center;
	padding: 20px;
}

.menu a:hover{
	color:black;
	background-color: #FFA68B;
}

.izquierda{
	text-align: center;
	margin-left:20px;
	margin-top:5px;
	float:left;
	width:70%;
}

.item{
	float:left;
	background-color:white;
	width:80%;
	padding:30px;
}

.imagen{
	width: 200px;

}

body{
	background-color: #D58972;
}

.derecha{
	text-align:center;
	margin-top:5px;
	float:left;
	margin-left:-100px;
	width: 34.4%;
	background-color:white;
}

.contenido:after{
	content:"";
	display:table;
	clear:both;
}

.footer{
	padding: 20px;
	margin: 20px;
	text-align: center;
	background-color: white;
	margin-top: 30px;
}