<!DOCTYPE html>
<html>
<head>

	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>

<div class="header">
	<h1>Hector's Boring Life</h1>
	<p>Un blog de mi para mi y para quien sea que lo vea</p>
</div>

	<div class="menu">
		<a href="">Inicio</a>
		<a href="">Imagenes</a>
		<a href="">Videos</a>
		<a href="">Contacto</a>
	</div>

<div class="contenido">
	<div class="izquierda">
		<div class="item">
			<h2>Inicio</h2>
			<h5>Esta es la pagina principal de mi blog </h5>
			<img src="4.jpg" alt="" class="imagen">
		</div>
	</div>


	<div class="derecha">
		<div class="item">
			<h2> Informacion </h2>
			<h5>Mi nombre es Hector Alvarado Ordaz jaja </h5>
			<img src="5.jpg" alt="" class="imagen"> </div>
	</div>
</div>

<div class="footer">
	<h2>&copy; 2019</h2>
</div>

</body>
</html>